<div align="center"><br>
	<h1>お掃除抽選アプリ</h1><br>
	<h2>お掃除抽選結果</h2><br>
	<% if @shortage_flag == 1 %>
		<p>3人以上のエントリーを受け付けていない為、抽選を行うことができません</p>
		<p>エントリー漏れをご確認頂き、再度抽選を行って下さい。</p>
	<% else %>
		<p><font color="blue" size="5">掃除機当番</font>は</p><br>
		抽選ナンバー<font color="blue" size="7"><%= @vacuum_cleaner_person.draw_no %></font>の<font color="blue" size="7"><%= @vacuum_cleaner_person.name %></font>さんです</p><br>
		<p><font color="red" size="5">拭き掃除当番</font>は</p><br>
		抽選ナンバー<font color="red" size="7"><%= @wipe_person.draw_no %></font>の<font color="red" size="7"><%= @wipe_person.name %></font>さんです</p><br>
		<p>おめでとうございます</p>
	<% end %><br><br>
	<% if @from_index_flag == 0 %>
		<%= button_to '管理者トップに戻る', draw_master_index_path, method: :get %>
	<% else %>
		<%= button_to 'ユーザー情報の編集', draw_user_edit_path, method: :get %><br><br>
		<%= button_to 'ログアウト', draw_logout_path, method: :get %>
	<% end %>
	<br>
<br>
</div>