<div align="center"><br>
	<h1>お掃除抽選アプリ</h1><br>
	<h2>エントリー確認画面</h2><br>
	<p>既にエントリーは完了しております</p>
	<p>本日の<%= @entry.name %>さんの抽選ナンバーは</p><br>
	<font size="7"><%= @entry.draw_no %></font>です。<br>
	<p>結果発表は１５：３０頃です。発表まで少々お待ちください。</p>
	<br>
	<span style="text-decoration : underline">現在の抽選参加者</span><br>（ <%= @all_users_number %>人中<%= @already_entry_users_number %>人受け付け済み）<br><br>
	<table align="center" border="1">
		<tr><td align="center"><strong>名前</strong></td><td align="center"><strong>抽選番号</strong></td><td align="center"><strong>当選レート</strong></td></tr>
		<% @users_draw_info.each do |user_info| %>
			<% if user_info.join_flag == 1 %>
				<tr><td align="center"><%= user_info.name %></td><td align="center"><%= user_info.draw_no %></td><td align="center"><%= sprintf("%.1f", user_info.hit_rate_get) %>%</td>
				<td>
				<% if user_info.id == session[:id] %>
					<strong>←you!</strong>
				<% end %>
				</td></tr>
			<% end %>
		<% end %>
	</table>
	<br><br>
	<%= button_to 'ユーザー情報の編集', draw_user_edit_path, method: :get %><br><br>
	<%= button_to 'ログアウト', draw_logout_path, method: :get %>
</div>
