<div align="center"><br>
	<h1>お掃除抽選アプリ</h1><br>
	<h2>お掃除抽選エントリー</h2><br>
	<p>エントリー完了！！</p>
	<p>今日の<%= @entry.name %>さんの抽選ナンバーは</p><br>
	<font size="7" id="num"></font><p id="desu"></p><br>
	<p>結果発表は本日１５：３０です。発表まで少々お待ちください。</p><br><br>
	<span style="text-decoration : underline">現在の抽選参加者</span><br><br>
	<table align="center" border="1">
		<tr><td align="center"><strong>名前</strong></td><td align="center"><strong>抽選番号</strong></td><td align="center"><strong>当選レート</strong></td></tr>
		<% @users_draw_info.each do |user_info| %>
			<% if user_info.join_flag == 1 %>
				<tr>
					<td align="center"><%= user_info.name %></td><td align="center"><p id="list<%=user_info.id%>" <%if user_info.id == session[:id] %> style="display: none;" <%end%> ><%= user_info.draw_no %></p></td>
					<td align="center"><%= "%.0f" % user_info.rate %>%</td>
				<td>
				<% if user_info.id == session[:id] %>
					<strong>←you!</strong>
				<% end %>
				</td></tr>
			<% end %>
		<% end %>
	</table>
	<br><br>
	<%= button_tag type: 'button', onclick: "location.href='#{draw_logout_path}'" do %>
		<%= "ログアウト"  %>
	<% end %>
</div>

<script>
var num = 0;
var tgt = <%= @entry.draw_no %>;

setInterval(function(){
if(num <= tgt){
    $('#num').html(num);
    num++;
    if(num > tgt){
        $('#desu').html("です。");
        $('#list<%=session[:id]%>').show();
    }
}
},Math.random()*500);

</script>