<div align="center">
<h1>お掃除抽選アプリ</h1><br>
<h2>ユーザー管理トップ画面</h2>	<br>

<%= flash[:notice] %><br>
<table>
<%= form_tag('/user/switch') do %>
	<tr><td><font size="5">　ユーザー選択</font></td></tr><br>

	<tr><td>
	<%= select_tag 'user[id]', options_for_select(@user.map{ |user| [user.name, user.id]}) %>
	
	<%= submit_tag "編集" %>
	<%= submit_tag "削除" %></td>
	<td>　　　</td>
	<td><%= button_tag type: 'button', onclick: "location.href='#{new_user_path}';" do %>
	<%= "新規ユーザー追加"  %>
	<% end %></td></tr>
<% end %>
</table>
<br><br><br>
<%= button_tag type: 'button', onclick: "location.href='#{draw_master_draw_path}';" do %>
	<%= "戻る"  %>
<% end %>
</div>

