<div align="center">
<h1>お掃除抽選アプリ</h1><br>
<h2>ユーザー情報新規追加画面</h2><br>
<%= flash[:notice] %><br>
<%= form_tag('/user') do %>
  <p>
    <%= text_field :user, :name %>
  </p>
  <%= submit_tag "追加" %>
<% end %><br>
<%= link_to 'トップに戻る', user_index_path %>
</div>
